@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

            * {
                box-sizing: border-box;
                font-family: 'Crimson Text', serif;
                color: rgb(22, 22, 114);
                text-shadow: 1px 1px 2px rgb(231, 194, 194);
            }

            body{
                background-image: linear-gradient(lightblue, lightgrey);
            }

            .center{
                display: flex;
                justify-content: center;
            }

            h1{
                text-align: center;
                font-size: 5em;
                margin-top: 0;
                margin-bottom: 0;
            }

            @media only screen and (max-width:500px){
                h1{
                    text-align: center;
                    font-size: 3em;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            h2{
                text-align: center;
                font-size: 2.5em;
            }

            @media only screen and (max-width:500px){
                h2{
                    text-align: center;
                    font-size: 1.5em;
                }
            }

            p{
                font-family: 'Crimson Text', serif;
            }

            .allContent{
                display: flex;
                margin-right: 2%;

            }

            @media only screen and (max-width:500px){
                .allContent{
                    flex-direction: column;
                }
            }
           
            nav{
                min-width: 15%;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                margin-right: 2%;
                text-align: center;
                font-weight: bolder; 
                font-size: 150%;       
            }

            @media only screen and (max-width:500px){
                nav{
                    font-size: 75%;
                }
            }

            li{
                height: 8%;
                display: block;
                width: 100%;
                padding-top: 5%;
                border-style: double;
                border-radius: 5%;
            }

            a{
                text-decoration: none;
                color: rgb(22, 22, 114);
                text-shadow: 1px 1px 2px rgb(231, 194, 194);
            }

            a :hover{
                color:green;
            }

            h3{
                text-align: center;
            }

            figcaption {
                text-align: center;
                font-weight: bolder;
                font-style: italic;
            }
        
            li:hover {
                background-color: lightgrey;
                
            }

            .topContent{
                display: flex;
                justify-content: space-between;
            }

            @media only screen and (max-width:500px){
                .topContent{
                    flex-direction: column;
    
                }
            }

            .topItems {
                width: 28%;
                
            }

            @media only screen and (max-width:500px){
                .topItems{
                    width: 100%;
    
                }
            }

            .bottomContent{
                display: flex;
                justify-content: space-around;
                text-align: center;
            }

            @media only screen and (max-width:500px){
                .bottomContent{
                    flex-direction: column;
                }
            }

            .bottomItem {
                width: 15%;
                border-radius: 5%;   
            }
            
            @media only screen and (max-width:500px){
                .bottomItem{
                    width: 100%;
                }
                a{
                    font-size: 1.5em;
                }
            }

            .bottomItem a:hover{
                color: red;
            }

            footer{
                text-align: center;
                font-weight: bold;
            }